li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

li div {
	display: flex;
	align-items: center;
}

.list-item {
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding: 0;
	list-style: none;
}
